
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top: 0; /* Stay at the top */	
  left: 0;
  background-color: #323f51; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 100px;
  border-right: 8px solid rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.10), 2px 3px 1px rgba(0, 0, 0, 0.15);
}

/* The navigation menu links */
.sidenav a {
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  font-size: .99rem;
  font-family: Lato, sans-serif;
  transition-duration: 0.4s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}


body {
	margin-left: 220px;
	margin-top: 75px;
	background-color: #edf2f6;
}

.chart-row-1 {
	display: flex;
	padding: 7.5px;
}

.chart-row-2 {
display: flex;
padding: 7.5px;
}

.chart-row-3 {
display: flex;
padding: 7.5px;
}

.chart-row-4 {
display: flex;
padding: 7.5px;
}

.chart-row-5 {
display: flex;
padding: 7.5px;
}

.header {
	position: fixed;
	width: 100%;
	height: 70px;
	background-color: #4670ad!important;
	border-bottom: 8px solid rgba(0, 0, 0, 0.1);
	box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.16), 2px 3px 1px rgba(0, 0, 0, 0.23);
	text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.16), 2px 3px 1px rgba(0, 0, 0, 0.23);
	top: 0;
	left: 0;
	z-index: 1;
}

.header p {
	padding-left: 20px;
	font-size: 1.5rem;
	font-weight: 400;
	font-family: lato, sans-serif;
	color: #fff;
	text-align: left;
}

.headline-text {
	font-weight: 400;
	font-size: 20px;
	color: #8c8e90;
	padding-top: 25px;
	margin-left: 30px;
	font-family: lato, sans-serif;
}

#chart1-container {
	background-color: #fff;
	margin-right: 7.5px;
	margin-left: 7.5px;
	width: 100%;
	border-radius: 5px;
	box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.16), 2px 3px 1px rgba(0, 0, 0, 0.23);
}

@media (min-width: 992px)
#chart1-container {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 50%;
	max-width: 50%;
}


#chart2-container {
	background-color: #fff;
	margin-right: 7.5px;
	margin-left: 7.5px;
	width: 100%;
	border-radius: 5px;
	box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.16), 2px 3px 1px rgba(0, 0, 0, 0.23);
}

@media (min-width: 992px)
#chart2-container {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 50%;
	max-width: 50%;
}

#chart3-container {
	background-color: #fff;
	margin-right: 7.5px;
	margin-left: 7.5px;
	width: 100%;
	border-radius: 5px;
	box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.16), 2px 3px 1px rgba(0, 0, 0, 0.23);
}

@media (min-width: 992px)
#chart3-container {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 50%;
	max-width: 50%;
}


#chart4-container {
	background-color: #fff;
	margin-right: 7.5px;
	margin-left: 7.5px;
	width: 100%;
	border-radius: 5px;
	box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.16), 2px 3px 1px rgba(0, 0, 0, 0.23);
}

@media (min-width: 992px)
#chart4-container {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 50%;
	max-width: 50%;
}

#chart5-container {
	background-color: #fff;
	margin-right: 7.5px;
	margin-left: 7.5px;
	width: 100%;
	border-radius: 5px;
	box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.16), 2px 3px 1px rgba(0, 0, 0, 0.23);
}

@media (min-width: 992px)
#chart5-container {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 50%;
	max-width: 50%;
}

#chart6-container {
	background-color: #fff;
	margin-right: 7.5px;
	margin-left: 7.5px;
	width: 100%;
	border-radius: 5px;
	box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.16), 2px 3px 1px rgba(0, 0, 0, 0.23);
}

@media (min-width: 992px)
#chart6-container {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 50%;
	max-width: 50%;
}

#chart7-container {
	background-color: #fff;
	margin-right: 7.5px;
	margin-left: 7.5px;
	width: 100%;
	border-radius: 5px;
	box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.16), 2px 3px 1px rgba(0, 0, 0, 0.23);
}

#chart7 .line {
  fill: none;
  stroke: #33adff;
  stroke-width: 3px;
}

@media (min-width: 992px)
#chart7-container {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 50%;
	max-width: 50%;
}

#chart8-container {
	background-color: #fff;
	margin-right: 7.5px;
	margin-left: 7.5px;
	width: 100%;
	border-radius: 5px;
	box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.16), 2px 3px 1px rgba(0, 0, 0, 0.23);
}

@media (min-width: 992px)
#chart8-container {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 50%;
	max-width: 50%;
}


#chart9-container {
	background-color: #fff;
	margin-right: 7.5px;
	margin-left: 7.5px;
	width: 100%;
	border-radius: 5px;
	box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.16), 2px 3px 1px rgba(0, 0, 0, 0.23);
}

#chart9 .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 3px;
}

#chart9 circle {
	fill: #33adff;
	opacity: 0.4;
}
.loess-line {
	fill: none;
	stroke-width: 2px;
	stroke: steelblue;
}

#bandwidth {
	padding-left: 20px;
}

@media (min-width: 992px)
#chart9-container {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 50%;
	max-width: 50%;
}
	.axis-style {
	font-size: 11px;
    font-family: sans-serif;
    fill: #8c8e90;
	}

	.summary-text-num {
		font-size: 3.5vw;
		font-family: sans-serif;
		font-weight: 400;
		text-align: left;
		font-color: #33adff;
		padding: 0px 0px 0px 15px;
		margin: 2.5px 0px 2.5px 0px;
	}

	.summary-text-top {
		font-size: 1.9vw;
		font-weight: 400;
		color: #383838;
		font-family: sans-serif;
		text-align: left;
		padding: 0px 0px 0px 15px;
		margin: 7.5px 0px 2.5px 0px;
	}

	.summary-text-sub {
		font-size: 1.2vw;
		font-family: sans-serif;
		color: #383838;
		text-align: left;
		padding: 0px 0px 0px 15px;
		margin: 2.5px 0px 7.5px 0px;
	}

/* selector positioning */
#selector {
  	padding: 15px 0px 0px 18px;
  	position: relative;
  	font-family: sans-serif;
  }

/* selector positioning */
#selector {
  	padding: 15px 0px 0px 18px;
  	position: relative;
  	font-family: sans-serif;
  }

/* style the options in select menu */
#button select {
	background-color: DodgerBlue;
	color: #ffffff;
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	-webkit-appearance: none;
  	-moz-appearance: none;
  	appearance: none;
  	border-radius: 5px;
}

/* reset button position */
#reset {
  	padding: 5px;
  	margin-left: 10px;
  	position: relative;
  	font-family: sans-serif;
	background-color: DodgerBlue;
	border: none;
	border-radius: 2px;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
  }

/* reset button position */
#selectAll {
  	padding: 5px;
  	margin-left: 5px;
  	margin-right: 5px;
  	position: relative;
  	font-family: sans-serif;
	background-color: DodgerBlue;
	border: none;
	border-radius: 2px;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
  }

/* select last 5 presidents */
#selectLastFive {
  	padding: 5px;
  	position: relative;
  	font-family: sans-serif;
	background-color: DodgerBlue;
	border: none;
	border-radius: 2px;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
  }

	.bar-text {
		font-size: 1.5rem;
		font-family: sans-serif;
		color: #383838;
		padding: 0px 0px 0px 15px;
		margin: 2.5px 0px 2.5px 0px;
	}

    .axis {
        font-size: .75rem;
        color: #383838;
        font-weight: 700;
        font-family: sans-serif;
    }

    .axis path,
    .axis line {
        fill: none;
        display: none;
    }

    .label {
        font-size: .75rem;
        color: #fff;
        font-weight: 700;
        font-family: sans-serif;
    }

	.donut-text {
		font-size: 1.5rem;
		font-family: sans-serif;
		color: #383838;
		padding: 0px 0px 0px 15px;
		margin: 2.5px 0px 2.5px 0px;
	}

	.toolCircle {
		font-size: .9rem;
		font-family: sans-serif;
		color: #383838;
		padding: 0px 0px 0px 15px;
		margin: 2.5px 0px 2.5px 0px;
	}

/*Styling for the lines connecting the labels to the slices*/
polyline {
    opacity: .3;
    stroke: #383838;
    stroke-width: 1px;
    fill: none;

}

	.donut-labels {
		font-size: .75rem;
		font-family: sans-serif;
		color: #383838;
	}

/* Styling for the Sentiment vs. Economics graph */

#chart8-container .grid line {
  stroke: lightgrey;
  stroke-opacity: 0.2;
  shape-rendering: crispEdges;
}

#chart8-container .grid path {
  stroke-width: 0;
}

#chart8-container body {
  font-family: 'PT Sans', sans-serif;
	font-color:#000b95;
	cursor: default;
}

#chart8-container svg {
  font: 12px sans-serif;
  font-family: "Helvetica Neue", Helvetica;
  color:#000b95;
}

#chart8-container .line {
  fill: none;
  stroke: #000b95;
  stroke-width: 1px;
}

#chart8-container .axis line,
#chart8-container .axis path {
  fill: none;
  stroke: #000b95;
  color:#000b95;
  shape-rendering: crispEdges;
}

#chart8-container .label {
  font-size: .5rem;
  -webkit-transition: fill 125ms linear;
  color:#000b95;
}

#chart8-container .active .label:not(.inactive) {
  font-weight: bold;
  font-size: 11px;
}

#chart8-container .clickableLegend {
	stroke:#fff;
	fill:#fff;
	fill-opacity:0;
	stroke-opacity:0;
	cursor: pointer;
}

#chart8-container .legend {
	font-size: 12px;
}

#chart8-container .legend rect {
	stroke-width: 2;
}

#chart8-container .grid .tick {
    stroke: lightgrey;
    stroke-opacity: 0.2;
}

#chart8-container .grid path {
      stroke-width: 0;
}

.axis-label {
	font-size: 0.6vw;
	font-weight: 400;
	color: #383838;
	font-family: sans-serif;
	padding: 0px 0px 0px 15px;
	margin: 7.5px 0px 2.5px 0px;
}
